*, *::after, *::before{
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
}

body{
	/*background: linear-gradient(to right, hsl(150deg 82% 34%), hsl(175, 100%, 50%));	*/
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}

.clock{
	width: 500px;
	height: 500px;
	background-color: #f1f1f1;
	border-radius: 50%;
    border: 15px solid black;
    position: relative;
    box-shadow: 
        inset 40px 40px 90px rgba(0,0,0,.2),
        inset 10px 10px 30px rgba(0,0,0,.5), 
        20px 20px 30px rgba(0,0,0,.4),
        40px 40px 60px rgba(0,0,0,.4);
    z-index: 1;
}

.clock .number{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: rotate(var(--rotation));
	font-size: 2rem;
}

.clock .number::after{
	content: '';
    position: absolute;
    background-color: black;
    height: 30px;
    width: 5px;
}

.clock .number_1{ --rotation: 30deg; }
.clock .number_2{ --rotation: 60deg; }
.clock .number_3{ --rotation: 90deg; }
.clock .number_4{ --rotation: 120deg; }
.clock .number_5{ --rotation: 150deg; }
.clock .number_6{ --rotation: 180deg; }
.clock .number_7{ --rotation: 210deg; }
.clock .number_8{ --rotation: 240deg; }
.clock .number_9{ --rotation: 270deg; }
.clock .number_10{ --rotation: 300deg; }
.clock .number_11{ --rotation: 330deg; }

.clock .hand{
	--rotation:  30;
	position: absolute;
	bottom: 50%;
	left: 50%;
	border: 1px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform-origin: bottom;
	z-index: 10;
	transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after{
	content: '';
	position: absolute;
	background-color: black;
	z-index: 11;
	width: 15px;
	height: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
}

.clock .hand.second{
	width: 3px;
	height: 45%;
	background-color: red;	
}

.clock .hand.minute{
	width: 7px;
	height: 40%;
	background-color: black;	
}

.clock .hand.hour{
	width: 10px;
	height: 35%;
	background-color: black;	
}